div.container
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href = "/") iLoveMyCity
        ul.nav.navbar-nav
          li
            a(href="/delhi") Delhi
          li
            a(href="/kolkata") Kolkata
          li
            a(href="/mumbai") Mumbai